$tablet-width: 48rem;
$desktop-width: 80rem;

// $primary-color-one: #A5A4AC;
// $primary-color-two: #D0C7C5;
// $primary-color-three: #676774;

// $secondary-color-one: #7B8E99;
// $secondary-color-two: #CB9392;
// $secondary-color-three: #FFFFFF;

$primary-color-one: #6fb2dc;
$primary-color-two: #b0ddf4;
$primary-color-three:#d8ecf7;

$secondary-color-one: #2f77a7;
$secondary-color-two: #f2c641;
$secondary-color-three: #FFFFFF;