* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 10vh;
  background-color: #6fb2dc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title {
  font-weight: 400;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (min-width: 48rem) {
  .header__title {
    font-size: 30px;
  }
}

.weather, .main__output {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30vh;
}
@media (min-width: 48rem) {
  .weather, .main__output {
    justify-content: center;
    margin-top: 24px;
  }
}
.weather__background, .main__output__background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}
@media (min-width: 80rem) {
  .weather, .main__output {
    max-width: 1280px;
    margin: auto;
  }
}

.main {
  display: flex;
  flex-direction: column;
  height: 50vh;
}
@media (min-width: 48rem) {
  .main {
    padding: 24px;
    flex-direction: row;
  }
}
@media (min-width: 80rem) {
  .main {
    max-width: 1280px;
    margin: auto;
  }
}
.main__input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #FFFFFF;
  height: 50%;
  padding: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (min-width: 48rem) {
  .main__input {
    width: 50%;
    height: 100%;
    justify-content: center;
  }
}
.main__input-button {
  background-color: #f2c641;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  border: none;
  padding: 16px;
  border-radius: 10px;
}
@media (min-width: 48rem) {
  .main__input-button {
    padding: 48px 24px;
    font-size: 16px;
  }
}
.main__input-button:hover {
  background-color: #b29230;
}
.main__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__form-title {
  width: 100%;
  background-color: #6fb2dc;
  padding: 12px;
  font-size: 10px;
  margin-bottom: 12px;
  text-align: center;
  border-radius: 10px;
}
@media (min-width: 48rem) {
  .main__form-title {
    font-size: 16px;
  }
}
.main__form-content {
  width: 100%;
  background-color: #b0ddf4;
  padding: 12px;
  font-size: 10px;
  text-align: center;
  border: none;
  margin-bottom: 12px;
  border-radius: 10px;
}
@media (min-width: 48rem) {
  .main__form-content {
    font-size: 16px;
  }
}
.main__form-button {
  background-color: #2f77a7;
  color: #FFFFFF;
  padding: 6px 12px;
  border: none;
  font-size: 10px;
  border-radius: 10px;
}
@media (min-width: 48rem) {
  .main__form-button {
    margin-bottom: 50px;
    font-size: 16px;
    padding: 12px 24px;
  }
}
.main__form-button:hover {
  background-color: #245c81;
}
.main__output {
  background-color: #b0ddf4;
  height: 50%;
}
@media (min-width: 48rem) {
  .main__output {
    width: 50%;
    height: 100%;
  }
}

.weather-card {
  background-color: #b0ddf4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 75%;
}
.weather-card__gif {
  width: 100%;
}
.weather-card__left {
  width: 50%;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.weather-card__description {
  background-color: #FFFFFF;
  padding: 6px 12px;
  margin-top: 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
.weather-card__right {
  width: 50%;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weather-card__temp--big {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  background-color: #FFFFFF;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.weather-card__temp--small {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  background-color: #FFFFFF;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-top: 16px;
}

.footer {
  background-color: #d8ecf7;
  width: 100%;
  height: 10vh;
  display: flex;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  font-size: 10px;
  width: 50%;
}
.project__members {
  display: flex;
  flex-direction: column;
}
.project__members-link {
  text-decoration: none;
  color: #000000;
}

.citation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  font-size: 10px;
  width: 50%;
}
.citation__container {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=index.css.map */